
/*
.recommended-friends {
  margin: 25px 0;
  padding: 25px 0;
  border-top: var(--main-border);
  border-bottom: var(--main-border);
    color: var(--gray);
}

.recommended-friends__title {
  font-size: 14px;
}

.recommended-friends span {
  margin: 80px 0;
  display: block;
  text-align: center;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
}
*/

.open-chat__header {
  display: flex;
  justify-content: space-between;
  opacity: 0.7;
  margin-bottom: 10px;
}

.open-chat__header span {
  opacity: 0.5;
    font-size: 1.4rem;
}

.open-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
    margin-bottom: 20px;
    
    border-radius: 10px;
    box-sizing: border-box;
    padding: 0 4px;
    transition: box-shadow 0.2s ease-in-out;
}

.open-post:hover,
.open-post:active {
    box-shadow: 0 0 20px -10px var(--gray);
}

.open-post:last-child {
    margin-bottom: 60px;
}

.open-post__title {
  font-weight: 600;
  margin-bottom: 7px;
    text-transform: uppercase;
}

.open-post__hashtags {
  text-transform: uppercase;
  opacity: 0.6;
    font-size: 1.2rem;
}

.open-post__members {
  margin-top: 7px;
  display: flex;
  align-items: center;
}

.open-post__members img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 5px;
}

.open-post__member-count {
  opacity: 0.5;
  font-size: 14px;
}

.open-post__members .divider {
  width: 1.5px;
  height: 15px;
  margin: 0 5px;
  background-color: var(--gray);
    opacity: 0.5;
}

.open-post__member-status {
  color: var(--white);
}

.open-post__photo img {
  width: 70px;
  height: 70px;
  border-radius: 10%;
}

.open-post__photo {
  position: relative;
    opacity: 0.9;
}

.open-post__heart-count {
  background-color: rgba(0, 0, 0, 0.6);
  color: var(--white);
  padding: 5px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 5px;
  right: 2px;
  font-size: 12px;
}

.open-post__heart-count span {
  margin-left: 3px;
}

@keyframes heartBeat {
  0% {
    color: var(--white);
    transform: none;
  }
  50% {
    color: var(--gray);
    transform: scale(1.5);
  }
  100% {
    color: var(--white);
    transform: none;
  }
}

.open-post__heart-count:hover i {
  will-change: transform;
  animation: heartBeat 1s linear infinite;
}
