.more-screen .icon-row__icon i {
  font-size: 2.8rem;
}

.more-screen .user-component + .icon-row {
    margin: 20px 0;
}

.more-suggestions {
  margin-top: 20px;
  border-top: var(--main-border);
  padding-top: 10px;
}

.more-suggestions__title {
  margin-bottom: 20px;
    font-size: 1.4rem;
}

.more-suggestions__icons {
  display: flex;
    justify-content: space-around;
}

.more-suggestions__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
    border-radius: 15px;
    transition: all 0.2s linear;
}

.more-suggestions__icon:hover,
.more-suggestions__icon:active {
  transform: scale(1.2);
    box-shadow: 0 0 20px -10px var(--gray);
    font-weight: 600;
}

.more-suggestions__icon-image {
/*
  width: 60px;
  height: 60px;
*/
  background-color: var(--black);
  border-radius: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

.more-suggestions__icon-image img {
    width: 35px;
    height: 35px;
}

.more-suggestions__icon-image i {
  font-size: 30px;
  color: white;
}
