.alt-header {
  padding: var(--vertical-space) var(--horizontal-space);
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  /*width: 100%;*/
}

/*
.alt-header__column {
  width: 33%;
}
*/

.alt-header__title {
  font-size: 2.5rem;
  font-weight: 600;
}

.alt-header__column:first-child {
  margin-right: auto;
    width: 23%;
}

.alt-header__column:nth-child(2) {
  text-align: center;
    width: 54%;
}

.alt-header__column:last-child {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
    width: 23%;
}

.alt-header--towns > .alt-header__column:nth-child(2) span {
    font-size: 3rem;
}

.alt-header__column:last-child span:first-child{
    margin-right: 20%;
}